@charset "utf-8";


/*공통스타일*/
.contents .wrap.cmStyle {padding: 20px 0 30px;}

/*서브비쥬얼*/
.contents .subVisual {background: #eee url(http://img.sampobeach.co.kr/m/board/subVisual.jpg) no-repeat center 60% /cover;}

/*게시판 list*/
.contents .board {min-height: 330px;}
.contents .board .tb-list {position: relative; width: 100%; font-size: 12px; table-layout: fixed;}
.contents .board .tb-list col.nth-1 {width: 75%;}
.contents .board .tb-list col.nth-2 {width: 25%;}
.contents .board .tb-list th, .contents .board .tb-list td {padding: 10px 0px; text-align: center;}
.contents .board .tb-list td {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.contents .board .tb-list td:nth-child(1) {text-align: left; padding-left: 5px;}
.contents .board .tb-list thead tr {background: #f2f2f2; border-top: 1px solid #3c3b3b; border-bottom: 1px solid #d9d9d9;}
.contents .board .tb-list tbody tr {border-bottom: 1px solid #d9d9d9;}
.contents .board .pagenation {text-align: center; font-size: 0; margin-top: 20px;}
.contents .board .pagenation a {display: inline-block; font-size: 12px; width: 24px; height: 24px; vertical-align: middle; line-height: 2em; border: 1px solid #d9d9d9; border-left: 0; color: #d2d2d2; font-family: "Nanum Gothic"; font-weight: 600; }
.contents .board .pagenation a[class*="prev"], .contents .board .pagenation a[class*="next"] {font-size: 11px; line-height: 2.3em; letter-spacing: -2px;}
.contents .board .pagenation a:hover, .contents .board .pagenation a.on {background: #d2d2d2; color: #fff;}
.contents .board .pagenation a.prev, .contents .board .pagenation a.next {background: #d2d2d2; color: #595959;}
.contents .board .pagenation a.prev {text-indent: -4px; margin-right: 5px;}
.contents .board .pagenation a.next {text-indent: 1px; margin-left: 5px;}

/*게시판 read*/
.contents .board .tb-read {font-size: 12px;}
.contents .board .tb-read th {padding: 10px 5px; font-size: 12.5px;}
.contents .board .tb-read td {padding: 10px; line-height: 1.6; word-break: keep-all;}
.contents .board .tb-read thead tr {border-top: 1px solid #3c3b3b; border-bottom: 1px solid #d9d9d9; background: #f2f2f2;}
.contents .board .tb-read tbody tr {border-bottom: 1px solid #d9d9d9;}
.contents .board .tb-read thead tr th .flt-r {float: right; margin-left: 5px;}
.contents .board .row-btn {margin-top: 20px; text-align: center;}
.contents .board .row-btn .btn-list {display: inline-block; font-size: 13px; border: 1px solid #d9d9d9; border-radius: 25px; padding: 5px 30px;}
